<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="logs"/>
    <property name="COMMON_PATTERN" value="%date{yyyy-MM-dd HH:mm:ss}  %-5level %logger{0} - %msg%n"/>

    <!-- - - - - - - - appender - - - - - - -
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${COMMON_PATTERN}</pattern>
        </layout>
    </appender>-->

    <appender name="abc-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/abc.log</File>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/logback.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
            <MaxHistory>7</MaxHistory>
            <CleanHistoryOnStart>true</CleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <appender name="trace-async-appender" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="abc-log"/>
    </appender>

    <logger name="aaa" level="INFO" additivity="false">
        <appender-ref ref="trace-async-appender"/>
<!--        <appender-ref ref="console"/>-->
    </logger>

    <root level="info">
<!--        <appender-ref ref="console"/>-->
        <appender-ref ref="abc-log"/>
    </root>
</configuration>